/* src/styles/globals.css */
@import "./chips.css";

/* Zorg ervoor dat Tailwind de juiste basisstijlen toepast */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
/* 🌗 Globale Custom Properties */
/* ===================== */

/* Globale kleuren via CSS-variabelen */
:root {
    --color-primary: #46B1C9;
    --bg-light: #ffffff; /* Lichte achtergrondkleur */
    --bg-dark: #191e23; /* Donkere achtergrondkleur */
    --text-light: #494d5f; /* Lichtgrijze tekstkleur */
    --text-dark: #ffffff; /* Witte tekstkleur */

    /*Chip filter colors*/
    --chip-nutrient: #7c3aed;
    --chip-nutrient-border: #7c3aed;
    --filter-clear: #dc2626;
    --filter-clear-border: #dc2626;
}

.dark {
    --bg-light: #121212; /* Donkere achtergrondkleur in dark mode */
    --text-light: #ffffff; /* Witte tekstkleur in dark mode */
    --color-primary: #46B1C9;

    /*Chip filter colors*/
    --chip-nutrient: #d8b4fe;
    --chip-nutrient-border: #d8b4fe;
    --filter-clear: #fca5a5;
    --filter-clear-border: #fca5a5;
}


/* ===================== */
/* Tailwind Utility-klassen voor kleuren */
/* ===================== */
.bg-lightBackground {
    @apply bg-[var(--bg-light)];
}
.dark .bg-darkBackground {
    @apply bg-[var(--bg-dark)];
}

.text-lightText {
    @apply text-[var(--text-light)];
}
.dark .text-darkText {
    @apply text-[var(--text-dark)];
}







/* ===================== */
/* Custom noUi component */
/* ===================== */

.noUi-tooltip {
    font-size: 0.7rem !important;
    padding: 4px 6px !important;
    line-height: 1 !important;
    border-radius: 3px !important;
    background: var(--color-primary) !important;
    color: white !important;
}


.noUi-horizontal {
    height: 6px !important;
    border-radius: 3px !important;
}

.noUi-handle {
    width: 12px !important;
    height: 12px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border-radius: 50% !important;
    background: var(--color-primary) !important;
    border: none !important;
}

.noUi-connects, .noUi-connect {
    background: var(--color-primary) !important;
}

.noUi-handle:before, .noUi-handle:after {
    display: none !important;
}


.noUi-handle {
    transform: translate(-6px, -50%) !important;
}
